body {
  /*height: 100%;*/
  background-color: #F5F5F5;
  
}

html {
  width: 100%;
  height: 100%;
  background-color: #F5F5F5;
}

#app {
  height:100%;
}

/*
- Background Colors:
  MintGreen: #6AA897;
  FlatGreen: #24CC82;
  MidnightBlue: #2c3e50;
*/

.containerFluid {
  padding-left: 200px;
}

.mainMenu {
  background-color: #24CC82;
  height: 100%;
  width: 300px;
  font-family: Avenir;
  padding-right: 20px;
  position: fixed;
  padding-top: 50px;
  padding-left: 20px;
}

.mainMenu > * {
  text-align: right;
  color: #FFF;
}

.navSubbar {
  padding-top: 30px;
}

.navSubbar > * {
  margin-top: 25px;
  color: #fff;
  color: rgba( 255, 255, 255, 0.6 );
}

.navSubbar a{
  text-decoration: none;
  color: rgba( 255, 255, 255, 0.6 );
}

.navSubbar a:hover {
  color: #fff;
}

.button {
  background-color: #24CC82;
  border: 1px solid #24CC82;
}

.button {
   text-decoration: none;
   color: #FFF; 
}

.button:hover {
  background-color: #FFF;
  color: #24CC82;
  border: 1px solid #24CC82;
}

.button:hover {
  color: #24CC82;
}

/* -- Mobile menu toggle button --*/
.navbar-toggle {
  background-color: #24CC82;
  border: 2px solid #24CC82;
}

.navbar-default .navbar-toggle {
 border: 2px solid #24CC82; 
}

.navbar-default .navbar-toggle:hover {
  background-color: transparent;
  border: 2px solid white;
}

.navbar-default .navbar-toggle:focus{
  background-color: #24CC82;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-collapse {
  padding-left: 53px;
  border-top: none;
  -webkit-box-shadow: none;
}

.content {
  height: 100%;
  min-height: 100%;
  padding-top: 50px;
  padding-bottom: 100px;
}

.pageContent {
  background-color: white;
  font-family: Avenir;
  padding: 50px;
}

.pageContent > p {
  font-size: 16px;
  line-height: 35px;
  color: #7B7B82;
}

/* PageHeader Banner */

.pageHeaderContent {
  background-color: #fff;
  font-family: Avenir;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  margin-bottom: 25px;
  margin-top: 40px;
}

.pageHeaderContent > h2 {
  color: #24CC82;
}

/* -- Media Queries --*/

@media (max-width: 5000px) {
  .mobileNavbar { display: none; }
}

@media (max-width: 1120px) {
  .containerFluid { padding-left: 90px }
  .content { width: 80%; padding-top: 50px;}
  .mainMenu { width: 200px; }
  .mobileNavbar { display: none; }
}

@media (max-width: 930px) {
  .mainMenu { active: false; }
  .mobileNavbar { display: none; }
}

@media (max-width: 767px) {
  .containerFluid { padding-left: 0 }
  .content { width: 96%; }
  .mainMenu { display: none }
  .mobileNavbar { display: block; }
  .pageHeaderContent {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
