@font-face {
  font-family: 'Circular-Light';
  src: url('/fonts/CircularAirPro-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Circular-Standard';
  src: url('/fonts/CircularStd-Book.ttf') format('truetype');
  src: url('/fonts/CircularStd-Book.woff') format('woff');
}

@font-face {
  font-family: 'Circular-Medium';
  src: url('/fonts/CircularStd-Medium.ttf') format('truetype');
  src: url('/fonts/CircularStd-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Circular-Bold';
  src: url('/fonts/CircularStd-Bold.ttf') format('truetype');
  src: url('/fonts/CircularStd-Bold.woff') format('woff');
}

html, body {
  height: 100%;
}

body {
  margin: 0;
}

#app {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
