body {
  /*height: 100%;*/
  background-color: #F5F5F5;

}

html {
  width: 100%;
  height: 100%;
  background-color: #F5F5F5;
  overflow-x: hidden;
}

#app {
  height:100%;
}

/*
- Background Colors:
  MintGreen: #6AA897;
  FlatGreen: #24CC82;
  MidnightBlue: #2c3e50;
  FlatGrey: #7B7B82;
*/

/*.colorTextHeadings {
  color: #24CC82;
  padding-top: 20px;
  font-size: 18px;
}*/

/*.containerFluid {
  padding-left: 200px;
}*/

.mainMenu {
  background-color: #24CC82;
  height: 100%;
  width: 300px;
  font-family: Avenir;
  padding-right: 20px;
  position: fixed;
  padding-top: 50px;
  padding-left: 20px;
}

.mainMenu > * {
  text-align: right;
  color: #FFF;
}

/*.navSubbar {
  padding-top: 30px;
}*/

.navBrand {
  color: #FFF;
  text-decoration: none;
}

.navBrand:hover {
  text-decoration: none;
  color: #FFF;
}

.navBrand:focus {
  text-decoration: none;
  color: #FFF;
}

.navDivider {
  border-top: 2px solid #FFF;
  float: right;
  width: 90%;
}

/*.navSubbar > * {
  margin-top: 25px;
  color: #fff;
  color: rgba( 255, 255, 255, 0.6 );
}

.navSubbar a{
  text-decoration: none;
  color: rgba( 255, 255, 255, 0.6 );
}

.navSubbar a:hover {
  color: #fff;
}*/

.button {
  background-color: #FFF;
  color: #24CC82;
  border: 1.5px solid #24CC82;
  font-size: 16px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.button:hover {
  background-color: #24CC82;
  border: 1.5px solid #24CC82;
  text-decoration: none;
  color: #FFF;
}

.button:active {
  background-color: #24CC82;
  border: 1.5px solid #24CC82;
  text-decoration: none;
  color: #FFF;
}

.button:focus {
  background-color: #24CC82;
  border: 1.5px solid #24CC82;
  text-decoration: none;
  color: #FFF;
}

.buttonGlyph {
  top: 2px;
  padding-right: 5px;
}

/* -- Mobile menu toggle button --*/
.navbar-toggle {
  background-color: #24CC82;
  border: 2px solid #24CC82;
}

.navbar-default .navbar-toggle {
 border: 2px solid #24CC82;
}

.navbar-default .navbar-toggle:hover {
  background-color: transparent;
  border: 2px solid white;
}

.navbar-default .navbar-toggle:focus{
  background-color: #24CC82;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-collapse {
  padding-left: 53px;
  border-top: none;
  -webkit-box-shadow: none;
}

.navbar-toggle {
  margin-top: 5px;
}

/*.content {
  height: 100%;
  min-height: 100%;
  padding-top: 50px;
  padding-bottom: 100px;
}*/

.pageContent {
  background-color: white;
  font-family: Avenir;
  padding: 50px;
}

.pageContent > p {
  font-size: 18px;
  line-height: 35px;
  color: #7B7B82;
  font-weight: 100;
}

/* PageHeader Banner */

.pageHeaderContent {
  background-color: #fff;
  font-family: Avenir;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  margin-bottom: 25px;
  margin-top: 40px;
}

.pageHeaderContent > h2 {
  color: #24CC82;
}

.contactIcon {
  height: 75px;
  width: 75px;
}

/* -------------------*/
/* -- Media Queries --*/

/* ================Desktop======================= */
@media (max-width: 5000px) {
  .mobileNavbar { display: none; }
}

/* ================Tablet======================= */
@media (max-width: 1120px) {
  /* .containerFluid { padding-left: 90px }*/
  /*.content { width: 80%; padding-top: 50px;}*/
  .mainMenu { width: 200px; }
  .mobileNavbar { display: none; }
}

/* ================Mobile======================= */
@media (max-width: 767px) {
  html, body {margin: 0; height: 100%; overflow-x: hidden}

  /*.containerFluid {
    padding-left: 0;
    -webkit-overflow-scrolling: touch;
  }*/
  /*.content { width: 96%; } */
  .mainMenu { display: none }

  /*.sidebar {
    padding-right: 0;
  }*/

  .mobileNavbar {
    display: block;
    padding-left: 0px;
  }

  .pageHeaderContent {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    margin-bottom: 15px;
    margin-top: 30px;
  }

  .pageHeaderContent h2 {
    font-size: 25px;
  }

  .pageContent {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .pageContent h4 {
    font-size: 15px;
  }

  .pageContent p {
    font-size: 14px;
    line-height: 30px;
  }

  .button {
    font-size: 14px;
    padding: 5px;
  }

  .contactIcon {
    height: 40px;
    width: 40px;
  }
}
